<div style="text-align: center">
  <h1>
    Restaurantes
  </h1>
</div>
<div *ngFor="let res of restaurants; let i=index" style="text-align: center">
  <div style="margin-bottom: 10px">
    <input placeholder="Restaurant" [(ngModel)]="res.name">
    <div style="padding: 5px">
      <div style="display: inline-block; padding-right: 10px">
        <h4>Opiniones</h4>
      </div>
      <div style="display: inline-block">
        <button (click)="addOp(i)">Agregar opinión</button>
      </div>
    </div>
    <div *ngFor="let opi of res.opinions">
      <input placeholder="Opinión" [(ngModel)]="opi.description">
    </div>
  </div>
  <hr style="width: 20%">
</div>
<div style="text-align: center">
  <button (click)="addRes()" style="margin-right: 10px">Agregar Restaurant</button>
  <button (click)="save()">Guardar</button>
</div>
<router-outlet></router-outlet>